{% load static %}

<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'app_css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'pj_image/r.png' %}" type="image/vnd.microsoft.icon">
</head>

<body>
<h1>{{ anime.title }}</h1>
<h2><img src="{{ anime.image_path }}" alt="{{ anime.title }}のイメージ" title="{{ anime.title }}のイメージ" width="280" height="384"></h2>
<h2>メディア：{{ anime.media }}</h2>
<h2>エピソード数：{{ anime.episodes }}</h2>
<h2>評価：{{ anime.rating }}</h2>
<h2>登録者：{{ anime.members }}人</h2>
<h3>年：{{ anime.year.num }}</h3>
<h3>季節：{{ anime.season }}</h3>
<h3>原作 : {{ anime.source }}</h3>
{% for gen in anime.genres_set.all %}
    <p>{{ gen.genre }}</p>
{% endfor %}
<h4>{{ anime.synopsis }}</h4>
<!-- <h2>ジャンル：{{ anime.related_genres.all }}</h2> -->
<h4>サイト：<a href="{{ anime.website }}">{{ anime.website }}</a></h4>
<a href="{% url 'app:list' %}">戻る</a>
</body>
</html>